NodeRedMoisture
[{"id":"8658aad9.27ba38","type":"inject","z":"ff259a56.b65498","name":"moisture_sensor_analog","topic":"moisture","payload":"125","payloadType":"num","repeat":"","crontab":"","once":false,"x":270,"y":160,"wires":[["d6b6f0a6.53712"]]},{"id":"4c968378.23a8ac","type":"debug","z":"ff259a56.b65498","name":"","active":true,"console":"false","complete":"payload","x":875,"y":173,"wires":[]},{"id":"d2bdf11f.65d2d","type":"mqtt out","z":"ff259a56.b65498","name":"moisture_sensor_analog","topic":"moisture_sensor_analog","qos":"1","retain":"","broker":"c43d8978.ed2188","x":913,"y":216,"wires":[]},{"id":"d6b6f0a6.53712","type":"function","z":"ff259a56.b65498","name":"Calc Moisture","func":"var newMsg = { payload: msg.payload + 150 };\nreturn newMsg;","outputs":1,"noerr":0,"x":567,"y":180,"wires":[["4c968378.23a8ac","d2bdf11f.65d2d"]]},{"id":"a3f9b645.2cac78","type":"comment","z":"ff259a56.b65498","name":"Calc Comment","info":"Offsets the value of the moisture\n","x":572,"y":217,"wires":[]},{"id":"8433f7b9.d90d68","type":"comment","z":"ff259a56.b65498","name":"Read Moisture Value","info":"","x":235,"y":110,"wires":[]},{"id":"c343e84c.11dea8","type":"rpi-gpio in","z":"ff259a56.b65498","name":"","pin":"29","intype":"in","debounce":"25","read":false,"x":186,"y":320,"wires":[["9682de55.dcab1","80fde7b4.cc4d28"]]},{"id":"9682de55.dcab1","type":"mqtt out","z":"ff259a56.b65498","name":"moisture_sensor_digital","topic":"moisture_sensor_digital","qos":"1","retain":"","broker":"c43d8978.ed2188","x":909,"y":320,"wires":[]},{"id":"3b7faf2d.860bb","type":"inject","z":"ff259a56.b65498","name":"TRUE","topic":"moisture_sensor_digital","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":192,"y":372,"wires":[["80fde7b4.cc4d28"]]},{"id":"80fde7b4.cc4d28","type":"switch","z":"ff259a56.b65498","name":"on-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":515,"y":364,"wires":[["9682de55.dcab1","d4ce4bb9.5288e8","61591a1.49256e4","14bef1af.031f7e"],["9682de55.dcab1","e0096350.08ba9","87374963.ee56c8","14bef1af.031f7e"]]},{"id":"ecb132b3.853ed","type":"debug","z":"ff259a56.b65498","name":"","active":true,"console":"false","complete":"payload","x":1048,"y":552,"wires":[]},{"id":"9b2689e1.5685f8","type":"debug","z":"ff259a56.b65498","name":"","active":true,"console":"false","complete":"false","x":975,"y":698,"wires":[]},{"id":"d4ce4bb9.5288e8","type":"function","z":"ff259a56.b65498","name":"Update Payload","func":"var newMsg = { payload: \"Turning on the water.\"};\nreturn newMsg;","outputs":1,"noerr":0,"x":871,"y":554,"wires":[["ecb132b3.853ed"]]},{"id":"e0096350.08ba9","type":"function","z":"ff259a56.b65498","name":"","func":"var newMsg = { payload: \"Turning off the water\"};\nreturn newMsg;","outputs":1,"noerr":0,"x":842,"y":699,"wires":[["9b2689e1.5685f8"]]},{"id":"b8ea0b22.674dd8","type":"inject","z":"ff259a56.b65498","name":"FALSE","topic":"moisture_sensor_digital","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":189,"y":455,"wires":[["80fde7b4.cc4d28"]]},{"id":"b87a7ac8.ef72f8","type":"comment","z":"ff259a56.b65498","name":"Read Moisture Value as T or F","info":"","x":253,"y":280,"wires":[]},{"id":"f02a76e3.a9c6d8","type":"comment","z":"ff259a56.b65498","name":"If TRUE, turn on water","info":"","x":888,"y":461,"wires":[]},{"id":"61591a1.49256e4","type":"rpi-gpio out","z":"ff259a56.b65498","name":"Water On","pin":"40","set":"","level":"0","out":"out","x":850,"y":506,"wires":[]},{"id":"87374963.ee56c8","type":"rpi-gpio out","z":"ff259a56.b65498","name":"Water Off","pin":"40","set":"","level":"0","out":"out","x":852,"y":652,"wires":[]},{"id":"ece7cf69.7414c","type":"comment","z":"ff259a56.b65498","name":"If FALSE, turn off water","info":"","x":891,"y":610,"wires":[]},{"id":"a99b14bc.57ea18","type":"ui_button","z":"ff259a56.b65498","name":"Doesn't Need Water","group":"2f92655f.00471a","order":2,"width":0,"height":0,"label":"Doesn't Need Water","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"moisture_sensor_digital","x":240,"y":492,"wires":[["80fde7b4.cc4d28"]]},{"id":"e70fd874.d68f48","type":"ui_button","z":"ff259a56.b65498","name":"","group":"2f92655f.00471a","order":1,"width":0,"height":0,"label":"Needs Water","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"moisture_sensor_digital","x":212,"y":406,"wires":[["80fde7b4.cc4d28"]]},{"id":"14bef1af.031f7e","type":"ui_text","z":"ff259a56.b65498","group":"c4765e37.69658","order":3,"width":0,"height":0,"name":"Needs Water? ","label":"Needs Water? ","format":"{{msg.payload}}","layout":"col-center","x":876,"y":374,"wires":[]},{"id":"c43d8978.ed2188","type":"mqtt-broker","z":"","broker":"m11.cloudmqtt.com","port":"19269","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2f92655f.00471a","type":"ui_group","z":"","name":"Control ","tab":"be8a723f.707bc","order":1,"disp":true,"width":"6"},{"id":"c4765e37.69658","type":"ui_group","z":"","name":"Readings","tab":"be8a723f.707bc","order":2,"disp":true,"width":"6"},{"id":"be8a723f.707bc","type":"ui_tab","z":"","name":"Moisture","icon":"dashboard","order":1}]
