NodeRedMoisture
[{"id":"6c53ce6a.5167","type":"inject","z":"34f9fadf.31cf86","name":"moisture_sensor_analog","topic":"moisture","payload":"125","payloadType":"num","repeat":"","crontab":"","once":false,"x":203,"y":124,"wires":[["67391fd3.d741"]]},{"id":"5fe73379.fbb32c","type":"debug","z":"34f9fadf.31cf86","name":"","active":true,"console":"false","complete":"payload","x":808,"y":137,"wires":[]},{"id":"eeffd00c.5b46d","type":"mqtt out","z":"34f9fadf.31cf86","name":"moisture_sensor_analog","topic":"moisture_sensor_analog","qos":"1","retain":"","broker":"c43d8978.ed2188","x":846,"y":180,"wires":[]},{"id":"67391fd3.d741","type":"function","z":"34f9fadf.31cf86","name":"Calc Moisture","func":"var newMsg = { payload: msg.payload + 150 };\nreturn newMsg;","outputs":1,"noerr":0,"x":500,"y":144,"wires":[["5fe73379.fbb32c","eeffd00c.5b46d"]]},{"id":"a985eb60.25a4c8","type":"comment","z":"34f9fadf.31cf86","name":"Calc Comment","info":"Offsets the value of the moisture\n","x":505,"y":181,"wires":[]},{"id":"da852124.f9343","type":"comment","z":"34f9fadf.31cf86","name":"Read Moisture Value","info":"","x":168,"y":74,"wires":[]},{"id":"4b520740.4985b8","type":"rpi-gpio in","z":"34f9fadf.31cf86","name":"","pin":"29","intype":"in","debounce":"25","read":false,"x":119,"y":284,"wires":[["1374f64a.16257a","2652c261.7b501e"]]},{"id":"1374f64a.16257a","type":"mqtt out","z":"34f9fadf.31cf86","name":"moisture_sensor_digital","topic":"moisture_sensor_digital","qos":"1","retain":"","broker":"c43d8978.ed2188","x":842,"y":284,"wires":[]},{"id":"e706a99.274a658","type":"inject","z":"34f9fadf.31cf86","name":"TRUE","topic":"moisture_sensor_digital","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":125,"y":336,"wires":[["2652c261.7b501e"]]},{"id":"2652c261.7b501e","type":"switch","z":"34f9fadf.31cf86","name":"on-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":448,"y":328,"wires":[["1374f64a.16257a","e2faf4da.852a48","33e01888.47cd48","51ec3326.2c654c"],["1374f64a.16257a","dccedc2e.54ea1","b0f6c50b.d177b8","51ec3326.2c654c"]]},{"id":"3d6a2ecb.863472","type":"debug","z":"34f9fadf.31cf86","name":"","active":true,"console":"false","complete":"payload","x":910,"y":516,"wires":[]},{"id":"b79e75be.deb2e8","type":"debug","z":"34f9fadf.31cf86","name":"","active":true,"console":"false","complete":"false","x":908,"y":662,"wires":[]},{"id":"e2faf4da.852a48","type":"function","z":"34f9fadf.31cf86","name":"","func":"var newMsg = { payload: \"Turning on the water.\"};\nreturn newMsg;","outputs":1,"noerr":0,"x":774,"y":518,"wires":[["3d6a2ecb.863472"]]},{"id":"dccedc2e.54ea1","type":"function","z":"34f9fadf.31cf86","name":"","func":"var newMsg = { payload: \"Turning off the water\"};\nreturn newMsg;","outputs":1,"noerr":0,"x":775,"y":663,"wires":[["b79e75be.deb2e8"]]},{"id":"260e7f53.5f512","type":"inject","z":"34f9fadf.31cf86","name":"FALSE","topic":"moisture_sensor_digital","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":122,"y":419,"wires":[["2652c261.7b501e"]]},{"id":"7567fcac.2f4134","type":"comment","z":"34f9fadf.31cf86","name":"Read Moisture Value as T or F","info":"","x":186,"y":244,"wires":[]},{"id":"5053a7fe.fb7bc8","type":"comment","z":"34f9fadf.31cf86","name":"If TRUE, turn on water","info":"","x":821,"y":425,"wires":[]},{"id":"33e01888.47cd48","type":"rpi-gpio out","z":"34f9fadf.31cf86","name":"Water On","pin":"40","set":"","level":"0","out":"out","x":783,"y":470,"wires":[]},{"id":"b0f6c50b.d177b8","type":"rpi-gpio out","z":"34f9fadf.31cf86","name":"Water Off","pin":"40","set":"","level":"0","out":"out","x":785,"y":616,"wires":[]},{"id":"1010ec96.589753","type":"comment","z":"34f9fadf.31cf86","name":"If FALSE, turn off water","info":"","x":824,"y":574,"wires":[]},{"id":"6ec55d7e.f16eb4","type":"ui_button","z":"34f9fadf.31cf86","name":"Doesn't Need Water","group":"2f92655f.00471a","order":2,"width":0,"height":0,"label":"Doesn't Need Water","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"moisture_sensor_digital","x":173,"y":456,"wires":[["2652c261.7b501e"]]},{"id":"26d82ed7.f6c222","type":"ui_button","z":"34f9fadf.31cf86","name":"","group":"2f92655f.00471a","order":1,"width":0,"height":0,"label":"Needs Water","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"moisture_sensor_digital","x":145,"y":370,"wires":[["2652c261.7b501e"]]},{"id":"51ec3326.2c654c","type":"ui_text","z":"34f9fadf.31cf86","group":"c4765e37.69658","order":3,"width":0,"height":0,"name":"Needs Water? ","label":"Needs Water? ","format":"{{msg.payload}}","layout":"col-center","x":809,"y":338,"wires":[]},{"id":"c43d8978.ed2188","type":"mqtt-broker","z":"","broker":"m11.cloudmqtt.com","port":"19269","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2f92655f.00471a","type":"ui_group","z":"","name":"Control ","tab":"be8a723f.707bc","order":1,"disp":true,"width":"6"},{"id":"c4765e37.69658","type":"ui_group","z":"","name":"Readings","tab":"be8a723f.707bc","order":2,"disp":true,"width":"6"},{"id":"be8a723f.707bc","type":"ui_tab","z":"","name":"Moisture","icon":"dashboard","order":1}]
